html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 17px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #202124;
    font-family: 'Sylfaen', sans-serif;
}

.cyan-text {
    color : #00ffff;
}

.bcg-purple {
    background-color: #6e00ff;
}

#right-content-box {
    max-width: 700px;
}

.block-bcg-blue {
    background-color: #1A2C88;
    border-radius: 25px;
    margin : 0.5em;
}

#profile-pic {
    border-color: #a1fefe;
    border-width: 0.3em;
}

/* projekt lekattint képek róóla, v csdak mellette*/