@{
    ViewData["Title"] = "davidszuhai";
}

<div class="d-inline-block m-2 me-4 align-top">
    <div class="p-2 block-bcg text-center box-shadow ">
        <h1 class="display-4 m-auto">David Szuhai</h1>
        <img class="pb-2" src="images/me2.png" width="250" height="250" />
        <div>
            <a class="d-inline-block" href="https://github.com/szuhi27"><img src="images/github.png" width="30" height="30" /></a>
        </div>
        <a href="mailto:szuhi.games@gmail.com">szuhi.games@gmail.com</a>
        <p>some stuff</p>
    </div>
</div>


<div id = "right-content-box" class="text-center d-inline-block m-2 ms-4">
    <div class="block-bcg">
        <p class="p-1">
            Looking to start my career after finishing university. During my studies, I met with the top programming languages. I am most experienced with .NET, C#  and Unity. My main strengths are logical thinking, creativity and problem-solving. Besides programming, I am interested in data science, economics and other sciences. I like to learn and develop new skills.
        </p>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col block-bcg">
                <a href="https://play.google.com/store/apps/details?id=com.WorldofAgriculture.WorldofAgriculture" target="_blank" class="cyan-text">World of Agriculture</a>
                <p>Made my first complete game towards the end of university. I used Unity, C#, .NET, JSON and, for the graphics, GIMP. W.o.A is a 2D agricultural manager game published on Android as a free game. I have learned and improved a lot with this project.</p>
            </div>
            <div class="col block-bcg">
                <a href="https://github.com/szuhi27/ActivityManager" target="_blank" class="cyan-text">ActivityManager</a>
                <p>The user can create ActivityTypes and in them record Activities. First I made it as a C# console app, using JSON for storage. Later recreated it as an ASP.NET Core web app with EF Core (SQL).</p>
            </div>
        </div>
        <div class="row">
            <div class="col block-bcg">
                <a href="https://github.com/szuhi27/BattleShips" target="_blank" class="cyan-text">BattleShips</a>
                <p>University project for a class held by NI. I made battleships with C#, .NET and XAML. I got praise for my UI design. (on my GitHub)</p>
            </div>
            <div class="col block-bcg">
                <a href="" class="cyan-text">Roguelite game</a>
                <p>Currently working on my second game, using the Unity engine. It is a 2.5D roguelite semi-turn-based game set in a fantasy universe.</p>
            </div>
        </div>
    </div>
</div>