@{
    ViewData["Title"] = "Projects";
}

<h1 class="mb-4 cyan-text">My projects</h1>

<div style="width: fit-content" class="content-box mb-2">
    <div style="max-width: 40%" class="d-block m-2">
        <div>
            <img class="image" src="~/images/projects/woa/logo2.png" width="40px" height="40px"/>
            <h4 class="d-inline-block"><a href="https://play.google.com/store/apps/details?id=com.WorldofAgriculture.WorldofAgriculture" target="_blank" class="cyan-text">World of Agriculture</a></h4>
        </div>
        
        <p>Made my first complete game towards the end of university. I used Unity, C#, .NET, JSON and, for the graphics, GIMP. W.o.A is a 2D agricultural manager game published on Android as a free game. I have learned and improved a lot with this project.</p>
    </div>
    <div class="m-2 ms-0">
        <img class="image" src="~/images/projects/woa/menu.png" width="auto" height="250px" />
        <img class="image" src="~/images/projects/woa/town.png" width="auto" height="250px" />
        <img class="image" src="~/images/projects/woa/farm.png" width="auto" height="250px" />
        <img class="image me-0" src="~/images/projects/woa/lands.png" width="auto" height="250px" />
    </div>
</div>


<div style="width: fit-content" class="content-box mb-2">
    <div style="max-width: 40%" class="d-block m-2">
        <h4><a href="https://github.com/szuhi27/ActivityManager" target="_blank" class="cyan-text">Activity manager</a></h4>
        <p>I made a software to record activities, where you can start an activity, and stop it when it ends, and the program calculates the length of the activity. First I made it with Unity, then as a C# console application and finally as an ASP.NET Core web app. The first two times I used JSON as storage, and EF Core (SQL) was used for the web app. I made it to practice programming and also to see the differences between different methods.</p>
    </div>
    <div class="m-2 ms-0 flex-center-center">
        <img class="image me-1" src="~/images/projects/activity-manager/unity.jpg" width="auto" height="250px" />
        <div class="image">
            <img class="mb-1 d-block" src="~/images/projects/activity-manager/console1.png" width="auto" height="120px" />
            <img class="d-block" src="~/images/projects/activity-manager/console1.png" width="auto" height="120px" />
        </div>
        <div class="image me-0">
            <img class="mb-1 d-block" src="~/images/projects/activity-manager/web1.png" width="auto" height="120px" />
            <img class="d-block" src="~/images/projects/activity-manager/web2.png" width="auto" height="120px" />
        </div>
    </div>
</div>


<div style="width: fit-content" class="content-box mb-2">
    <div style="max-width: 40%" class="d-block m-2">
        <div>
            <img class="image" src="~/images/projects/woa/logo2.png" width="40px" height="40px" />
            <h4 class="d-inline-block"><a href="https://play.google.com/store/apps/details?id=com.WorldofAgriculture.WorldofAgriculture" target="_blank" class="cyan-text">World of Agriculture</a></h4>
        </div>

        <p>Made my first complete game towards the end of university. I used Unity, C#, .NET, JSON and, for the graphics, GIMP. W.o.A is a 2D agricultural manager game published on Android as a free game. I have learned and improved a lot with this project.</p>
    </div>
    <div class=" m-2 ms-0">
        <img class="image" src="~/images/projects/woa/menu.png" width="auto" height="250px" />
        <img class="image" src="~/images/projects/woa/town.png" width="auto" height="250px" />
        <img class="image" src="~/images/projects/woa/farm.png" width="auto" height="250px" />
        <img class="image me-0" src="~/images/projects/woa/lands.png" width="auto" height="250px" />
    </div>
</div>


<div style="width: fit-content" class="content-box mb-2">
    <div style="max-width: 40%" class="d-block m-2">
        <div>
            <img class="image" src="~/images/projects/woa/logo2.png" width="40px" height="40px" />
            <h4 class="d-inline-block"><a href="https://play.google.com/store/apps/details?id=com.WorldofAgriculture.WorldofAgriculture" target="_blank" class="cyan-text">World of Agriculture</a></h4>
        </div>

        <p>Made my first complete game towards the end of university. I used Unity, C#, .NET, JSON and, for the graphics, GIMP. W.o.A is a 2D agricultural manager game published on Android as a free game. I have learned and improved a lot with this project.</p>
    </div>
    <div class=" m-2 ms-0">
        <img class="image" src="~/images/projects/woa/menu.png" width="auto" height="250px" />
        <img class="image" src="~/images/projects/woa/town.png" width="auto" height="250px" />
        <img class="image" src="~/images/projects/woa/farm.png" width="auto" height="250px" />
        <img class="image me-0" src="~/images/projects/woa/lands.png" width="auto" height="250px" />
    </div>
</div>