@{
    ViewData["Title"] = "Projects";
}

<h1 class="mb-4 cyan-text">My projects</h1>

<div class="content-box mb-3 project">
    <div class="d-block m-2 project-text">
        <div>
            <img class="image" src="~/images/projects/woa/logo2.png" width="40px" height="40px" />
            <h4 class="d-inline-block"><a href="https://play.google.com/store/apps/details?id=com.WorldofAgriculture.WorldofAgriculture" target="_blank" class="cyan-text">World of Agriculture</a></h4>
        </div>

        <p>Made my first complete game towards the end of university. I used Unity, C#, .NET, JSON and, for the graphics, GIMP. W.o.A is a 2D agricultural manager game published on Android as a free game. I have learned and improved a lot with this project.</p>
    </div>
    <div class="m-2 ms-0">
        <img class="image" src="~/images/projects/woa/menu.jpg" width="auto" height="250px" />
        <img class="image" src="~/images/projects/woa/town.jpg" width="auto" height="250px" />
        <img class="image" src="~/images/projects/woa/farm.jpg" width="auto" height="250px" />
        <img class="image me-0" src="~/images/projects/woa/lands.jpg" width="auto" height="250px" />
    </div>
</div>


<div class="content-box mb-3 project">
    <div class="d-block m-2 project-text">
        <h4><a href="https://github.com/szuhi27/ActivityManager" target="_blank" class="cyan-text">ActivityManager</a></h4>
        <p>I made a software to record activities, where you can start an activity, and stop it when it ends, and the program calculates the length of the activity. First I made it with Unity, then as a C# console application and finally as an ASP.NET Core web app. The first two times I used JSON as storage, and EF Core (SQL) was used for the web app. I made it to practice programming and also to see the differences between different methods.</p>
    </div>
    <div class="m-2 ms-0">
        <img class="image" src="~/images/projects/activity-manager/unity.jpg" width="auto" height="250px" />
        <img class="image" src="~/images/projects/activity-manager/console.jpg" width="auto" height="250px" />
        <img class="image me-0" src="~/images/projects/activity-manager/web.jpg" width="auto" height="250px" />
    </div>
</div>



<div class="flex-center-center m-0 project">
    <div class="content-box project">
        <div class="d-block m-2 project-text">
            <h4><a href="https://github.com/szuhi27/BattleShips" target="_blank" class="cyan-text">BattleShips</a></h4>
            <p>A Windows Forms application, my first bigger C# project. It was for a university class which was held by NI. My programming skills were not so good at the time, but I got praise for my UI design. This was the first game where I had to implement some kind of computer enemy it was a simple one but I think the gameplay is good.</p>
        </div>
        <div class="m-2 ms-0">
            <img class="image" src="~/images/projects/battleships/ships1.jpg" width="auto" height="250px" />
            <img class="image" src="~/images/projects/battleships/ships2.jpg" width="auto" height="250px" />
        </div>
    </div>

    <div style="width: fit-content; height: inherit" class="content-box project project-text">
        <div class="d-block m-2">
            <h4 class="cyan-text">Roguelite game</h4>
            <p>Currently working on a 2.5D semi-turn-based roguelite game with Unity. It is set in a dark fantasy universe with a unique graphic style. It is currently in early development but I have great hopes for this game, I think it has a big potential.</p>
        </div>
    </div>
</div>