@{
    ViewData["Title"] = "Projects";
}

<h1 class="mb-5 cyan-text">@ViewData["Title"]</h1>

<div class="d-inline-block block-bcg mb-2">
    <div class="d-inline-block m-2">
        <h4><a href="https://play.google.com/store/apps/details?id=com.WorldofAgriculture.WorldofAgriculture" target="_blank" class="cyan-text">World of Agriculture</a></h4>
        <p>Made my first complete game towards the end of university. I used Unity, C#, .NET, JSON and, for the graphics, GIMP. W.o.A is a 2D agricultural manager game published on Android as a free game. I have learned and improved a lot with this project.</p>
    </div>
    <img />
</div>