@{
    ViewData["Title"] = "Thesis";
}

<h1 class="cyan-text">The state and process of mobile game development.</h1>
<h3 class="cyan-text mb-5">(original title: "Mobiljáték-fejlesztés helyzete és folyamatának bemutatása")</h3>

<div class="d-flex align-items-center justify-content-center">
    <div>
        <img class="mb-1" src="~/images/thesis/world_mobil_usage.png" width="auto" height="170px" />
        <p class="small-text">- World mobile usage -</p>
    </div>
    <div class="content-box mw-800px">
        <div class="d-block">
            <h4 class="cyan-text">Coming up with the idea</h4>
            <p>I was always interested in games, been playing since a young age. That is the reason why I studied Computer Science and I knew I wanted to write my thesis on this topic. Because of the size of this topic, I narrowed it down to mobile games. </p>
        </div>
    </div>
</div>

<div class="d-flex align-items-center justify-content-center">
    <div class="content-box mw-800px">
        <div class="d-block">
            <h4 class="cyan-text">The content</h4>
            <p>In the thesis, I went through the process of mobile game development from planning through programming to release. I used real-life examples from big companies and demonstrated my point with my own game (World of Agriculture). A big part of the planning chapter was the comparison of iOS and Android platforms, how they work, what they offer and what are the financials behind them. </p>
        </div>
    </div>
    <div>
        <img class="mb-1" src="~/images/thesis/elso-tervek2.png" width="auto" height="200px" />
        <p class="small-text">- First plans -</p>
    </div>
</div>

<div class="d-flex align-items-center justify-content-center">
    <div>
        <img class="mb-1" src="~/images/thesis/todo-list.png" width="auto" height="200px" />
        <p class="small-text">- Todo list -</p>
    </div>
    <div class="content-box mw-800px">
        <div class="d-block">
            <h4 class="cyan-text">All-in-all</h4>
            <p>All-in-all my teacher liked it, I got 5 (the best grade) for it and I was satisfied with it. I liked the research part also the game development part and of course, I got a published game as a result.</p>
        </div>
    </div>
</div>