@{
    ViewData["Title"] = "Thesis";
}

<h1 class="cyan-text">The state and process of mobile game development.</h1>
<h3 class="cyan-text">(original title: "Mobiljáték-fejlesztés helyzete és folyamatának bemutatása")</h3>

<p>
    made custom graph and images
    in depth analisys on adroid vs ios
    step by step throought the process of game development, woa as an example
    describing the thinking process behind woa, how i came up with the ideas

</p>