@{
    ViewData["Title"] = "Thesis";
}

<h1 class="cyan-text">The state and process of mobile game development.</h1>
<h3 class="cyan-text">(original title: "Mobiljáték-fejlesztés helyzete és folyamatának bemutatása")</h3>

<p></p>